# **Project Tite: Exploratory Data Analysis On Student Performance Dataset**

# **1. Introduction**

This dataset contains' demographics, test preparation status and exam scores. The purpose of this analysis is to explore the factors influencing student academic performance and generate insights to support educational improvements.

We hypothesize that:

- Students who complete the test preparation course will have higher exam scores than those who do not.
- The completion of test preparation course has a greater impact on math scores than on reading or writing scores.
- There is no significant difference in test preparation completion rates among different gender or ethnicity groups.
- Math scores are positively correlated with reading and writing scores.
- Students from parents with higher levels of education will perform better in math, reading, and writing exams.
- Female students will score higher than male students in reading and writing exams.
- Students who receive the standard lunch (versus free/reduced lunch) will have higher academic scores.
- There are significant differences in exam scores among different race/ethnicity groups.

This analysis will be useful for educators, school administrators, and policymakers looking to enhance student success.

# **2. Dataset Description:**
This dataset contains information on students’ demographic background, test preparation, and academic performance. The main variables include:

- **Gender:** Male or Female  
- **Race/Ethnicity:** Student’s ethnic group  
- **Parents' Level of Education:** Highest education level achieved by parents (e.g., high school, bachelor's degree)  
- **Lunch:** Type of lunch the student receives (standard or free/reduced)  
- **Test Preparation Course:** Whether the student completed a test preparation course (completed or none)  
- **Math Score:** Score obtained in the math exam (0-100)  
- **Reading Score:** Score obtained in the reading exam (0-100)  
- **Writing Score:** Score obtained in the writing exam (0-100)

These variables help us analyze how different factors relate to student academic performance.

# **3. Import Required Libraries**

We import Python libraries necessary for data manipulation and visualization

In [1]:
# Data Manipulation Libraries
import numpy as np
import pandas as pd

# Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Set a consistent theme for all plots
sns.set(style = 'whitegrid')

# **4. Load The Dataset**

The dataset is loaded using the pandas library. In a Google Colab environment, the dataset is first made accessible by mounting Google Drive, as the file is stored there.

In [9]:
from google.colab import drive
drive.mount('/content/drive')

# Load the dataset from the Google Drive
df = pd.read_csv('/content/drive/MyDrive/Students Performance/Dataset/StudentsPerformance.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **5. Initial Data Inspection**

In this step, we perform an initial examination of the dataset to understand its structure and quality. This includes previewing sample records, checking the dataset’s size, identifying data types, and detecting missing or duplicate values. These insights help inform subsequent data cleaning and analysis steps.

## **5.1. Preview First Few Records**

Display the first 5 rows to get an initial idea of the dataset.

In [10]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## **5.2. Check The Dataset Shape**

Check the number of rows and columns in the dataset.

In [12]:
df.shape

(1000, 8)

## **5.3 Data Types and Missing Values**

Check for missing values and data types of each column.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**Interpretation:** From the output, we see all columns have 1000 non-null values. The data types look correct, with scores as integers and categorical columns as objects. This suggests minimal to no missing data that we may need to handle before analysis.

## **5.4. Statistical Summary of Numeric Columns**

Generate descriptive statistics such as mean, standard deviation, min, max, and quartiles for numerical columns.

In [14]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## **5.5. Check for Duplicate Rows.**

Identify if there are any duplicate records that need to be removed.

In [15]:
df.duplicated().sum()

np.int64(0)

**Interpretation:** There are no duplicate records in the dataset. This means that we don't need to remove any records before analyzing the dataset.

## **5.6. Missing Value Counts**

Explicitly count missing values in each column.

In [16]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

**Interpretation:** There are no missing value in any of the columns.